body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

.heart-rain {
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes heart-fall {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 30;
        transform: translateY(100vh) rotate(360deg);
    }
}
